.pai {
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(4, 1fr);
    border: 1px solid black;
    gap: 5px;
}

.caixa1 {
    
    grid-row: 1 / span 1;
    grid-column: 1 / span 4;

    background-color: rgb(162, 94, 226);
}

.caixa2 {
    grid-row: 2 / 4;
    grid-column: 1 / 3;

    background-color: aqua;
}

.caixa3 {
    grid-row: 2 / 4;
    grid-column: 3 / span 4;
    
    background-color: red;
}