@charset "UTF-8";

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    
}

div.container-pai {
    display: grid;
    grid-template-columns: auto;
    width: 100vw;
    height: 100vh;
    
}

header {
    background-color: aqua;
    text-align: center;
    align-content: center;
}

menu {
    display: grid;
    align-content: center;
    text-align: center;
    font-size: 18px;
}

menu > nav a {
    text-decoration: none;
    color: rgb(86, 86, 238);
    font-weight: bold;
}

menu > nav a:hover {
    text-decoration: underline;
    color: blue;
}

div.main-coisas {
    display: grid;
    grid-template-columns: repeat(3, auto);
}

main.principal {
    background-color: blue;
    grid-column: 1 / span 2;

    padding: 10px;
    color: white;
    text-align: justify;
}

article.secundario {
    background-color: blueviolet;
    padding: 10px;
    color: white;
    text-align: justify;
}

footer {
    display: grid;
    text-align: center;
    align-content: center;
}