@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(imgFundo/wallpaper003.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
}