@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body, html {
    height: 95vh;
}
/*menu {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
}

menu nav {
    background-color: lightgrey;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.425);
}*/

menu nav {
    text-align: center;
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    
}

a {
    text-decoration: none;
    color: blue;
    font-size: 19px;
    background-color: rgb(216, 215, 215);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.26);
    width: 80px;
    margin-bottom: 10px;
}

a:hover {
    color: red;
    font-weight: bold;
    text-decoration: underline;
    
}

a.orderP:hover {
    order: -1;
}