@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

div.pai {
    display: flex;
    background-color: lightgrey;
    flex-flow: column nowrap;
}

div.itens {
    background-color: lightblue;
    padding: 20px;
    border: 1px solid black;
    text-align: center;
}

div#n1 {
    align-self: flex-start;
}

div#n2 {
    align-self: center;
}

div#n3 {
    align-self: flex-end;
}

div#n4 {
    align-self: center;
}