@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: 'mojang';
    src: url(fonte/minecraft-mojangles.otf) format('opentype');
}

body, html {
    width: 100vw;
    height: 100vh;
}

body {
    background-image: url(img/tela_fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

main.conteiner {
    display: flex;
    flex-flow: column nowrap;
    width: 100vw;
    height: 100vh;
    justify-content: flex-start;
    align-items: center;
}

header.item1 img {
    width: 50vw;
    padding: 90px 0px 90px 0px;
}

article.item_coluna {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    align-items: center;
}

article.item_coluna input[type='button'] {
    height: 45px;
    width: 30vw;
    font-size: 19px;
    font-family: 'mojang';
    color: white;
    background-color: rgb(130, 132, 134);
    text-shadow: 0px 0px 4px black;
    border: 2px solid black;
    box-shadow: inset 2px 2px 1px rgb(190, 187, 187);
    
}

article.item_coluna input[type='button']:focus {
    box-shadow: inset -2px -2px 3px rgb(71, 70, 70);
    background-color: rgb(111, 113, 116);
}

article.item_linha {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

article.item_linha input[type='button'] {
    height: 45px;
    width: 15vw;
    font-size: 19px;
    font-family: 'mojang';
    color: white;
    background-color: rgb(130, 132, 134);
    text-shadow: 0px 0px 4px black;
    border: 2px solid black;
    box-shadow: inset 2px 2px 1px rgb(190, 187, 187);
}

article.item_linha input[type='button']:focus {
    box-shadow: inset -2px -2px 3px rgb(71, 70, 70);
    background-color: rgb(111, 113, 116);
}

input[type='button']#menor {
   width: 80px;
}