@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #212121;
    color: white;
}

header {
    border: 1px solid red;
}

header > img {
    width: 250px;
    display: block;
    margin: auto;
}

main {
    display: grid;
    grid-template-columns: auto 90vw auto;
}