@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

div.pai {
    display: flex;
    background-color: rgb(163, 160, 160);
    padding: 20px;
    border-radius: 5px;
    border: 2px solid black;
    justify-content: center;
    flex-flow: row wrap;
}


img {
    background-color: lightgrey;
    border-radius: 5px;
    border: 3px solid black;
    margin-left: 10px;
}

img.terceira {
    align-self: center;
}

img.quinta {
    order: -1;
}