@charset "UTF-8";

header {
    flex-flow: column nowrap;
}

nav {
    display: none;
}

header h1 {
    flex-basis: 45px;
}

header > nav > a {
    width: 90vw;
}

.material-symbols-outlined {
    display: block;
    font-size: 40px;
    color: black;
    cursor: pointer;
}

.material-symbols-outlined:hover {
    color: rgb(236, 233, 233);
    transition: color .5s;
}

.aparecer {
    display: flex;
    flex-flow: column nowrap;
}