* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    width: 100vw;
    height: 100vh;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgrey;
}

header {
    background-color: rgb(148, 146, 146);
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    padding: 10px;
}

header > h1 {
    color: white;
    text-shadow: 2px 0px 3px black;
}

header a {
    color: white;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(0, 0, 0);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.479);
}

header a:hover {
    text-decoration: underline;
    background-color: rgb(78, 78, 78);
    transition: background-color .5s;
}

nav {
    display: flex;
    flex-flow: column wrap;
    gap: 7px;
    /*display: none;*/
}

main {
    background-color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.349);
}

main p {
    text-align: justify;
}