@charset "UTF-8";

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    
}

div.container {
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-columns: 1fr 150px;
    grid-template-rows: 80px 40px 1fr 40px;
    
    
}

.caixa {
    background-color: lightgrey;
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}

#topo {
    grid-row: 1 / span 1;
    grid-column: 1 / span 2;
}

#menu {
    grid-row: 2 / span 1;
    grid-column: 1 / span 2;
}

#principal {
    grid-row: 3 / span 1;
    grid-column: 1 / span 1;
}

#secundario {
    grid-row: 3 / span 1;
    grid-column: 2 / 3
}

#rodape {
    grid-row: 4 / span 1;
    grid-column: 1 / span 2;
}
