/* 
  Variáveis para cores:
  --fundo-principal
  --texto
  --texto-inverso
  --destaque
  --destaque-inverso
  --fundo-card
*/

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root {
  --fundo-principal: #f5f5f5;
  --texto: #222222;
  --texto-inverso: #ffffff;
  --destaque: #0077ff;
  --destaque-inverso: #66bbff;
  --fundo-card: #ffffff;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5em;
  background-color: var(--fundo-principal);
  color: var(--texto);
}

header {
  background-color: var(--destaque);
  color: var(--texto);
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-content: center;

  position: sticky; /*sticky significa "grudado", ou seja, a intenção é deixar o Menu fixo */
  top: 0; /*só com position não funcionaria, então como eu quero que ele fique fixo na parte de cima, eu uso "top" com 0*/
  z-index: 1; /*por padrão, ele é 0, e se eu o deixo assim, o video como Iframe estaria passando por cima do menu, então usando "z-index: 1" no menu, faz com que o menu esteja acima de todos, tipo num photoshop.*/
}

nav#menu ul {
  list-style: none;
  display: flex;
  gap: 10px;
}

nav#menu a {
  text-decoration: none;
  color: var(--texto-inverso);
  font-weight: 600;
  padding: 12px 15px;
  border-radius: 5px;
  transition: background-color 0.5s, color 0.5s; /*AQUI BOTA ANIMAÇÃO*/
}

nav#menu a:hover {
  text-decoration: underline;
  background-color: var(--destaque-inverso);
  color: var(--destaque);
}

main {
  display: grid;
  grid-template-columns: auto 90vw auto;
  gap: 20px;
  margin-top: 20px;
}

section#ficha {
  background-color: var(--fundo-card);
  padding: 20px;
  display: 5px;
  grid-column: 2;
}

section#ficha img.foto {
  width: 200px;
  aspect-ratio: 1/1; /*deixa ele quadrado, também tem 16/9 que o deixa em pé*/
  object-fit: cover; /*faz com que a imagem fique normal ao invés de achatada*/
  overflow: hidden; /*se sobrar um espaço fora, será escondido.*/
  border-radius: 50%;
  border: 5px solid var(--fundo-card);
  outline:5px solid var(--destaque);
  display: block;
  margin: auto;
  margin-bottom: 15px;
}

section#ficha h1 {
  color: var(--destaque);
  margin: 15px 0px;
  font-size: 1.8em;
  text-align: left;
}

div#social {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8em;
  gap: 1em;
  margin-top: 15px;
}

div#social a {
  color: var(--destaque);
  
}

div#social a:hover {
  color: var(--destaque-inverso);
  transition: color 0.5s;
}

section#detalhes {
  grid-column: 2;
}

article {
  background-color: var(--fundo-card);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}

article h2 {
  color: var(--destaque);
  margin-bottom: 20px;
}

article#video .video-container {
  position: relative;
  width: 100%;
  margin: auto;
  aspect-ratio: 16/9; /*faz com que o video seja deitado*/
  
}

.video-container iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 8px;
}

#skill-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

#skill-container .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#skill-container .nome {
  font-weight: bold;
  color: var(--texto);
}

#skill-container .porcent {
  font-weight: bold;
  color: var(--destaque);
}

#skill-container .barra {
  width: 100%;
  height: 8px;
  background-color: var(--fundo-principal);
  border-radius: 4px;
}

#skill-container .progresso {
  height: 100%;
  background-color: var(--destaque-inverso);
  border-radius: 4px;
}

#formacao-container {
  display: flex;
  flex-direction: column-reverse;
  gap: 15px;
}

#formacao-container .curso {
  background-color: var(--fundo-principal);
  border-radius: 8px;
  padding-left: 15px;
  border-left: 5px solid var(--destaque-inverso);
  transition: border-width 0.3s, border-color 0.5s;
}

#formacao-container .curso:hover {
  cursor: pointer;
  border-left-width: 20px;
  border-color: var(--destaque);
}

#formacao-container .periodo {
  font-size: 0.8em;
  font-weight: bold;
  color: var(--texto);
}

#formacao-container .constituicao {
  color: var(--destaque-inverso);
  font-size: 1.1em;
}

#projeto-container {
  display: flex;
  flex-direction: column-reverse;
  gap: 20px;
}

#projeto-container .projeto {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: var(--fundo-principal);
  padding: 10px;
  border-radius: 8px;
  border-left: 5px solid var(--destaque-inverso);
  transition: border-color 0.5s, border-width 0.5s;
}

#projeto-container .projeto:hover {
  border-color: var(--destaque);
  border-left-width: 15px;
  cursor: pointer;
}

#projeto-container .foto {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  overflow: hidden;
  border-radius: 8px;
}

footer {
  background-color: var(--destaque);
  color: var(--destaque-inverso);
  text-align: center;
  padding: 15px;
}

footer a {
  color: var(--texto-inverso);
  text-decoration: none;
  font-weight: bold;
}

footer a:hover {
  text-decoration: underline;
  color: var(--destaque-inverso);
}

@media  screen and (min-width: 768px) {
  main {
    grid-template-columns: auto 300px 1fr auto;
  }

  section#ficha {
    grid-column: 2 / 3;
    height: fit-content; /*deixa a altura da ficha do tamanho do conteudo da tela*/
    position: sticky; /*mesma coisa de antes*/
    top: 65px
    }

  section#detalhes {
    grid-column: 3 / 4;
  }

  #skill-container {
    grid-template-columns: 1fr 1fr;
  }

  #projeto-container .projeto {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  #projeto-container .projeto-info {
    max-width: 80%;
  }

  #projeto-container .foto {
    aspect-ratio: 1/1;
    max-width: 20%;
    max-height: 200px;
  }
}